body {
  margin: 0;
  font-family: Arial, sans-serif;
 padding-top: 70px;
  color: #fff;
}



.team_profile {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  margin: 20px 0;
  background-attachment: fixed;
  background-size: cover;
  /*animation: slide 3s ease-in-out infinite alternate;*/
}

.team_profile .our_team_heading h1 {
  margin: 0 0 10px;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #52bfc4;
}

.team_profile .our_team_heading h1::after {
  content: "";
  width: 60px;
  display: block;
  margin: 10px 0;
 /* border: 1px solid #333;*/
}

.team_profile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 /* background: rgba(23, 23, 23, 0.7);*/
}

.our_team {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.our_team .team-img img {
  width: 100%;
  height: 200px;
}

.our_team .team-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 10px;
  background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
  transform: scale(0.9, 0.9) translateY(-120%);
  transition: all 0.50s linear;
  opacity: 80%;
}

.our_team:hover .team-content {
  transform: scale(0.9, 0.9) translateY(0%);
}

.our_team .team-content .name {
  font-size: 15px;
  margin: 10px 0;
}

.our_team .team-content .name > span {
  text-transform: capitalize;
  display: block;
  margin: 8px 0;
  color: #fff;
}

.our_team .team-content .social_link {
  margin: 15px 0;
  padding: 0;
}

.our_team .team-content .social_link li {
  list-style: none;
  display: inline-block;
  margin: 0 7px;
}

.our_team .team-content .social_link li a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.row {
  /* Styles for each row */
  margin-bottom: 20px; /* Adjust the value as needed */
}


/* Responsive design for mobile view */
/* Responsive design for mobile view */
@media (max-width: 768px) {
  .our_team .team-img img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
  }

  .team_profile .our_team_heading h1 {
    font-size: 50px; /* Adjust font size for smaller screens */
  }

  .our_team .team-content {
    padding: 20px 5px;
    font-size: 14px; /* Adjust font size for mobile */
  }
}
